<!DOCTYPE html>
<html>
    <style>
        body{
            background-color:powderblue;
        }
        button {   
            background-color: #4CAF50;    
            color: white; 
        }
    </style>
    <body>
        <h1>Welcome {{user.get_username}}!!!</h1>
        <p>Employee report</p>
        <a href="timesheet">report</a>
        <a href="signup"><img src="add_employee.jpg"> Employee</a>
        <a href="leave_action">View leave requests</a>
    </body>
</html>